@{
    ViewBag.Title = "CONSULTANTS ASSIGNMENTS HOME";
}

@{
    ViewBag.Title = "Play";
}

<div id="bodyContainer" ng-app="ConsApp" ng-controller="ConsCtrl">
    <section id="content">
        {{artists2}}
        <div class="container">
            <div class="row">
                <div ng-repeat="item in artists2">
                    <p>{{item.Assignment_Name}}</p>
                </div>

                    @*<div class="flip-container text-center col-md-12" >
                <table>
                    <tbody>
                        <tr ng-repeat="(key,value) in artists2">
                            <td>{{value}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>*@
</div>
        </div>
    </section>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/app/consoltants-controller.js")
}