@{
    ViewBag.Title = "CONSULTANTS ASSIGNMENTS HOME";
}

@{
    ViewBag.Title = "Play";
}

<div id="bodyContainer" ng-app="ConsApp" ng-controller="ConsCtrl">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12" >
                    {{g}}
                    {{assignments}}
                    @*<table>
                        <tbody>
                            <tr ng-repeat="(key,value) in assignments">
                                <td>{{$value}}</td>
                                
                            </tr>
                        </tbody>
                    </table>*@
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/app/consoltants-controller.js")
}