@{
    ViewBag.Title = "CONSULTANTS ASSIGNMENTS HOME";
}

@{
    ViewBag.Title = "Play";
}

<div id="bodyContainer" ng-app="ConsApp" ng-controller="ConsCtrl">
    
        <div class="container">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Assignment_Name</th>
                            <th>Client</th>
                            <th>StartDate</th>
                            <th>EndDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,value)  in assignments track by key">
                            <td>{{value.Assignment_Name}}</td>
                            <td>{{value.Client_Name}}</td>
                            <td>{{value.Start_Date}}</td>
                            <td>{{value.End_Date}}</td>
                           
                        </tr>
                    </tbody>
                </table>

               
                </div>
            </div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/app/consoltants-controller.js")
}